@import '../../styles/variables';

.home-container{
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;

    .message-container{
        color:white;
        font-size: 24px;
    }

    .action-container{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1em;
    }
}